<div class="cover-container">

  <div class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">We are Code Planet invaders and we love Solar System. It is too late to stop our invasion. The whole system will be our.</p>
    <p class="lead">
      <a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html" class="btn btn-lg btn-default">Stop Us</a>
    </p>
    <p><%= Time.now.to_formatted_s(:long) %></p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>The source code is available <a target="_blank" href="https://github.com/isavita/code_game">GitHub</a>.</p>
    </div>
  </div>

</div>