<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">We are Code Planet invaders and we love Solar System.<br />
    It is too late to stop our invasion.<br />
    The whole system will be ours.</p>
    <p class="lead">
      <%= link_to "Sign In", new_user_session_path, :class => "btn btn-lg btn-success" %>
    </p>
    <p><%= Time.now.to_formatted_s(:long) %></p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>The source code is available <a target="_blank" href="https://github.com/isavita/code_game">GitHub</a>.</p>
    </div>
  </div>
</div>