<div id="welcome_wrapper">
  <h1>Welcome</h1>
  <h2>Earth</h2>
  <p><%= Time.now.to_formatted_s(:long) %></p>
  <button class="main-button">Login</button>
  <button class="main-button">Singup</button>
</div>