// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body, #solution-input {
  color: black;
}

.panel {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #00aeef;
}

.task-description {
  font-size: 1.20em;
  color: white; 
}

.task-content {
  color: brown;
  border: 1px solid #428bca;
  margin: 10px 5px;
  border-radius: 5px;
}

.congratulations {
  font-size: 1.5em;
  color: orange;
  text-shadow: 1px 1px #ff0000;
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

#solution_text {
    padding-right: 1px;
    color: brown;
}