// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mastfoot, .cover-container {
  width: 500px;
}

.cover {
  padding: 0 20px;
}

.mastfoot {
  position: fixed;
  bottom: 0;
}

.cover {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}